<ul class="pagination">
    {% if posts.has_prev %}
    <li class="page-item"><a class ="page-link" href="{{ url_for('index', page=posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="page-item disabled"><a class = "page-link" href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="page-item"><a class = "page-link" href="{{ url_for('index', page=posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="page-item disabled"><a class = "page-link" href="#">Older posts</a></li>
    {% endif %}
</ul>
