<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="card"> 
        <img class="card-img-top" src = "{{user.avatar(128) }}" alt = "{{ user.nickname }}", 
        <div class = "card-block">
            <h4 class = "card-title">{{ user.nickname }}</h4>
            <h6 class = "card-subtitle">Last seen: {{ user.last_seen }} </h6>
            {% if user.about_me %}<p class = "card-text">{{ user.about_me }}</p> {% endif %}
            <p>Followers: {{ user.followers.count() - 1 }} | Following: {{ user.followed.count() - 1 }} |
            {% if user.id == g.user.id %}
            <a href="{{url_for('edit')}}" class = "btn btn-primary">Edit your profile</a>
            {% elif not g.user.is_following(user) %}
            <a href="{{url_for('follow', nickname=user.nickname)}}" class = "btn btn-primary">Follow</a>
        {% else %}
            <a href="{{url_for('unfollow', nickname=user.nickname)}}" class = "btn btn-primary">Unfollow</a>
        {% endif %}
         </div>
    </div>
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

<ul class="pagination">
    {% if posts.has_prev %}
    <li class="page-item"><a class ="page-link" href="{{ url_for('user', nickname = user.nickname, page=posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="page-item disabled"><a class = "page-link" href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="page-item"><a class = "page-link" href="{{ url_for('user', nickname = user.nickname, page=posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="page-item disabled"><a class = "page-link" href="#">Older posts</a></li>
    {% endif %}
</ul>

{% endblock %}
